@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('gnome-hig-colors.css');
* {
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--dark-3);
	font-family: 'Inter';
}
.time {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0.5em;
	left: calc(50% - 6em);
	width: 12em;
	height: 3em;
	border-radius: 3em;
	background: var(--light-1);
	font-size: 2em;
	font-weight: 600;
}
.clock {
	--size: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--size, 400px);
	width: var(--size, 400px);
	border-radius: var(--size, 400px);
	background-color: var(--dark-4);
	background-image: url(../img/clock-face.png);
}
.clock:before {
	--size: 15px;
	content: '';
	height: var(--size, 15px);
	width: var(--size, 15px);
	border-radius: var(--size, 15px);
	background: var(--light-1);
	z-index: 10;
}
.clock .hour, .clock .minute, .clock .second {
	--size: 250px;
	position: absolute;
	display: flex;
	justify-content: center;
	height: var(--size, 250px);
	width: var(--size, 250px);
}
.clock .h {
	width: 8px;
	height: 100px;
	border-radius: 6px;
	transform: translateY(50px);
	background: var(--light-1);
}
.clock .m {
	width: 4px;
	height: 125px;
	border-radius: 4px;
	transform: translateY(25px);
	background: var(--light-1);
}
.clock .s {
	width: 2px;
	height: 175px;
	border-radius: 2px;
	background: var(--red-3);
}
